{
    "plugins": ["prettier-plugin-blade"],
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 500,
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSameLine": true,




    "tabWidth": 2,
    "useTabs": true,
    "jsxBracketSameLine": true,


  "singleAttributePerLine": false,
  "jsxSingleQuote": false,
  "arrowParens": "avoid"
}
